@media all{

  html, body, #map {
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;
  }

  body, #map{
    background-color:rgb(36, 44, 36);
    background-image:url('../i/grid.png');
  }

  #map{
    overflow:hidden;
  }

  body{
    color: white;
    font-family: Candara,Calibri,Segoe,"Segoe UI",Optima,Arial,sans-serif;
    font-size:17px;
    padding: 0;
    margin: 0;
  }

  h1,h2,h3,h4{
    font-family: Cambria, 'Hoefler Text', Utopia, 'Liberation Serif', 'Nimbus Roman No9 L Regular', Times, 'Times New Roman', serif;
  }

  h1{
    margin-top:10px;
    font-size:36px;
  }

  h2{
    font-size:26px;
  }

  h3{
    margin-top:11px;
    font-size:20px;
  }

  h4{
    margin-bottom: 0px;
  }

  .emphasis{
    font-size:22px;
  }

  #content-toggle{
    display:none;
  }

  #load-screen{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color:rgb(36, 44, 36);
    background-image:url('../i/grid.png');
    opacity: 0.8;
    z-index:99999;
  }

  #load-text-wrapper{
    margin:0 auto; 
    text-align:center;
    margin-top:15%;
  }

  #load-text-wrapper h1{
    font-size:60px;
  }

  .nav-tabs {
    border-bottom: 1px solid rgb(90, 90, 90);
    background-color: rgb(36, 44, 36);
    padding-left:20px;
  }

    .nav-tabs > li{
      font-size: 14px;
    }

      .nav-tabs > li > a{
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        line-height: 1.2;
      }
      
        .nav-tabs > li > a:hover{
          background-color: rgb(100, 107, 100);
          border-color:transparent;
        }

      .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
        color: white;
        cursor: default;
        background-color: rgb(16, 16, 16);
        border: 1px solid rgb(100, 107, 100);
        border-bottom-color: transparent;
      }

    .nav-tabs a{
      color:white;
    }

  .row{
    margin-right: 0px;
    margin-left: 0px;
  }

  .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color: rgb(100, 107, 100);
    border-color: transparent;
  }

  .nav-tabs.norco-menu>li.active>a, .nav-tabs.norco-menu>li.active>a:hover, .nav-tabs>li.active>a:focus{
    border-bottom: 1px solid rgb(100, 107, 100);
  }

  .dropdown-menu{
    background-color:rgb(100, 107, 100);
  }

  .dropdown.active, .dropdown.active:hover{
    background-color:rgb(16, 16, 16);
  }

  .dropdown.active.open>.dropdown-menu{
    background-color: rgb(16, 16, 16);
  }

  .dropdown-menu>li>a{
    color:white;
  }

  .dropdown-menu>.active>a{
    background-color: #414141;
  }

  .inactive{
    color:grey !important;
  }

  .nav-pills>li.active>a, .btn-default {
    color: #FFF;
    background-color: rgb(36, 44, 36);
    border-color: rgb(90, 90, 90);
  }
  
  .dropdown-menu>li>a,
  .nav-pills>li>a{
    text-shadow:none;
  }
  
  .dropdown.active, 
  .dropdown.active:hover,
  .dropdown.active:focus,
  .nav-pills>li.active>a, 
  .nav-pills>li.active>a:hover,
  .nav-pills>li.active>a:focus{
    background-color: rgb(36, 44, 36);
    color:white;
        }

  .popover.bottom>.arrow{
    display:none;
  }

  .popover-content{
    color:rgb(58, 58, 58);
    font-size:12px;
  }

  a{
    text-decoration: none;
    outline: none !important;
  }

    a:hover{
      text-decoration: none;
    }

    a.legend{
      color:white;
    }

    .geometry-link{
      color: #FF8966;
      cursor: pointer;
      font-weight:bold;
    }

      .geometry-link:focus {
        color: #FF8966;
      }

      .geometry-link:hover {
        color: rgb(255, 243, 20);
      }
   
  .external-link{
    color: white;
    font-weight:bold;
    text-decoration: underline;
  }

    .external-link:focus {
        color: white;
      }

    .external-link:hover {
      color: white;
    }

  .video-wrap {
    float: left;
    margin: 0 20px 5px 0;
  }


  .pointer{
    cursor:pointer;
  }

  /*Scroll Bar (Media All)*/
  ::-webkit-scrollbar {
    width: 12px;
  }
   
  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8); 
      border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1); 
  }

  /*Content (Media All)*/

  .vignette-header{
    text-align:center;
  }

  .quote{
    font-size: 14px;
    font-style: italic;
    line-height: 18px;
    padding: 0px 11px;
  }

  .content-image{
    padding:5px; 
    max-width:365px; 
    width:100%
  }

  #hurricane-context-visual{
    text-align:center;
    font-size:12px;
    padding-top:15px;
  }

  #viewport-too-small{
    display:none;
    font-style: italic;
    font-size:11px;
    color:grey;
    text-align:center;
  }

  #hurricane-video-control{
      padding:25px;
      width:315px;
      margin:0 auto;
    }

  #development-section{
    font-size:13px;
  }

  /*Leaflet Map (Media All)*/
  .leaflet-panel-item{
    background-color: rgb(36, 44, 36);
    box-shadow: 5px 5px 8px rgba(12, 16, 13, 0.7);
    border-radius: 5px;
    opacity:.8;
    z-index: 9;
  }

  #map-home-button {
    position: absolute;
    cursor: pointer;
    text-align: center;
    top: 50px;
    right: 19px;
    font-size: 18px;
    width: 38px;
    height: 34px;
    border: none;
    padding: 3px 6px 5px 5px;
  }

   #map-legend{
    display:none;
    width: 178px;
    font-size: 11px;
    position: absolute;
    bottom: 11px;
    z-index: 9;
    right: 175px;
    padding: 9px;
    box-shadow: none;
   }

  .leaflet-control-layers-toggle{
    z-index: 9;
  }

  .leaflet-control-layers.leaflet-control{
    background-color: rgb(36, 44, 36);
    border: 1px solid grey;
    box-shadow: 5px 5px 8px rgba(12, 16, 13, 0.7);
    color: white;
    border:none;
  }

  .esri-leaflet-logo{
      display:none;
    }


    .scrollflip{
      direction: rtl;
    }

    .scrollflip-content{
      direction: ltr;
    }

    .leaflet-top.leaflet-right{
      padding-top: 45px;
      padding-right: 8px;
      opacity:.8;
    }


    .leaflet-top > .leaflet-control-zoom {
      margin-top: 50px;
    }

    .dropdown.active, .dropdown.active:hover {
      background-color: rgba(16, 16, 16,.4);
    }

    .map-tab-content{
      z-index:1010;
      width:450px;
      position:absolute;
      top:0;
      left:0;
      max-height:100%;
      height:100%;
      overflow:scroll;
      overflow-x:hidden;
      padding:0px 15px 15px 15px;
      background-color: rgba(36, 44, 36,.8);
      background-image:url('../i/grid.png');
      color: #fff;
      text-shadow: 0 0 1px rgba(0,0,0,.8), 0 0 1px rgba(0,0,0,.8);
      box-shadow: 6px 7px 8px rgba(13, 15, 13, 0.7);
    }

      .map-tab-content #hurricane{
        display:none;
      }

      .tab-pane{
        padding-top:50px;
      }

    .leaflet-control-minimap {
      background-color:rgb(36, 44, 36);
      background-image:url('../i/grid.png');
      border: 2px solid rgb(36, 44, 36);
    }

    .leaflet-control-minimap a {
      background-color: rgba(36, 44, 36, 1.0);
    }

    .leaflet-popup-content-wrapper, .leaflet-popup-tip {
      background: rgba(36, 44, 36,.9);
    }

    .main-menu{
      z-index:9999;
    }

  .leaflet-container{
    background: none;
  }

    .leaflet-container .leaflet-control-attribution{
      color:white;
      background-color: rgba(36, 44, 36,.7);
    }

  .leaflet-bar a, .leaflet-bar a:hover, .leaflet-bar > a.leaflet-disabled  {
    border: none;
    background-color: #242C24;
    width: 37px;
    box-shadow: 5px 5px 8px rgba(12, 16, 13, 0.7);
    color:white;
  }

  .leaflet-container a{
    color: white;
  }

  /*******************MEDIA QUERIES***************/

  @media all and (max-width: 767px) { 
   
    body{
     font-size:14px;
    }

    video{
      background:black;
    }

    #top-right-video{
     display:none;
    }

    #hurricane-video-control{
      width: 227px;
    }

    #map-legend{
      right:18px;
    }

    .sidebar-collapsed{
      width: 30px !important;
    }

    .content-hidden{
      display:none;
    }

    #content-toggle{
      display:block;
      position: absolute;
      width: 21px;
      background-color: #A15B46;
      top: 47%;
      z-index: 1040;
      left: 239px;
      height: 51px;
      cursor: pointer;
      opacity: .9;
      /* box-shadow: 4px 20px 28px rgba(0, 14, 2, 0.7); */
      border-width: 1px 0 1px 1px;
      border-color: rgb(145, 145, 145);
      border-style: solid;
      padding: 5px 0 0 3px;
    }

    .tab-pane.active{
      padding-top: 50px;
    }

    .map-tab-content{
      width:260px;
    }

    .leaflet-container .leaflet-control-attribution, .leaflet-container .leaflet-control-scale {
      font-size: 8px;
    }

    .leaflet-control-minimap{
      display:none;
    }

    .nav-tabs {
      padding-left:0px;
    }
  
  }
}
  
